<div id="<%= dom_id prop_bet %>">
  <p>
    <strong>Tournament:</strong>
    <%= prop_bet.tournament_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= prop_bet.user_id %>
  </p>

  <p>
    <strong>Jesus:</strong>
    <%= prop_bet.jesus %>
  </p>

  <p>
    <strong>Exposure:</strong>
    <%= prop_bet.exposure %>
  </p>

  <p>
    <strong>Challenges:</strong>
    <%= prop_bet.challenges %>
  </p>

</div>
