<% content_for :title do %>
  Employee Counts
<% end %>

<%= render partial: "date_display", locals: {
  prev_page: advocate_employees_path(end_date: @end_date - 28.days),
  next_page: advocate_employees_path(end_date: @end_date + 28.days),
} %>

<h1>Staff Population</h1>

<table>
  <tr>
    <th></th>
    <% Advocate::Employee::ShiftLabels::ALL.each do |shift_label| %>
      <th><%= shift_label.titlecase %></th>
    <% end %>
  </tr>

  <tr>
    <th>FT Staff</th>
    <% Advocate::Employee::ShiftLabels::ALL.each do |shift_label| %>
      <td><%= @staff_counts["FT-RN"][shift_label] %></td>
    <% end %>
  </tr>

  <tr>
    <th>PT Staff</th>
    <% Advocate::Employee::ShiftLabels::ALL.each do |shift_label| %>
      <td><%= @staff_counts["PT-RN"][shift_label] %></td>
    <% end %>
  </tr>

  <tr>
    <th>Agency</th>
    <% Advocate::Employee::ShiftLabels::ALL.each do |shift_label| %>
      <td><%= @staff_counts["AGCY"][shift_label] || 0 %></td>
    <% end %>
  </tr>

</table>

<h1>By Hour</h1>
<p>
Out of <%= @hours_breakdown[:total] %> staff hours
<br/>
FT Staff RNs: 
<%= number_to_percentage(@hours_breakdown[:full_time_staff] / @hours_breakdown[:total].to_f * 100) %> 
<br/>
PT Staff RNs: 
<%= number_to_percentage(@hours_breakdown[:part_time_staff] / @hours_breakdown[:total].to_f * 100) %> 
<br/>
Agency RNs:
<%= number_to_percentage(@hours_breakdown[:agency] / @hours_breakdown[:total].to_f * 100) %> 
</p>


Employees and Shifts Worked
<ul>
  <% @presenter.rns.each do |rn| %>
    <li>
      <%= rn.role == "RN" ? "Staff" : "Agency" %>
      <%= rn.shift_label %>
      <%= rn.name %> 
      (<%= rn.shifts.where(date: @start_date..@end_date).count %>)
    </li>
  <% end %>
</ul>
