<h1>Tiebreaker Criteria</h1>

<table id="tiebreaker_criteria">
  <tr>
    <th></th>
    <% Olympics::Team.all.each do |team_a| %>
      <%= with_team_bg_color(team_a, :th) do %>
        <%= team_a.name %>
      <% end %>
    <% end %>
  </tr>

  <% Olympics::Team.all.each do |team_a| %>
    <tr>
      <%= with_team_bg_color(team_a, :th) do %>
        <%= team_a.name %>
      <% end %>
      <% Olympics::Team.all.each do |team_b| %>
          <% if (team_a != team_b) %>
            <% content = @presenter.tiebreaker_message(team_a, team_b).html_safe %>
            <% if team_a.better_than?(team_b) %>
              <%= with_team_bg_color(team_a, :td) { content } %>
            <% elsif team_b.better_than?(team_a) %>
              <%= with_team_bg_color(team_b, :td) { content } %>
            <% else %>
              <td class="tied_matchup"><%= content %></td>
            <% end %>
          <% else %>
            <td class="empty_matchup"></td>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>

<p>
  Tiebreaker Criteria: 
  1) Head to Head Games
  2) Beer Pong Cup Differential
  3) Overtime BP Game
</p>

