<div class="scoreboard_component left">
  <h1>Scoreboard</h1>
  <table>
    <tr>
      <th>Rank</th>
      <th>Team</th>
    </tr>

    <% @teams.each_with_index do |team, index| %>
      <tr>
        <td><%= index + 1 %></td> 
        <td><%= team.name %></td> 
      </tr>
    <% end %>

  </table>
</div>


<div class="scoreboard_component right">
  <h1>Now Playing</h1>
  <div id="now_playing_table_1">
    <%= render @matches[0] %>
  </div>
  <div id="now_playing_table_2">
    <%= render @matches[1] %>
  </div>
</div>

<div class="clear"></div>

<div class="scoreboard_component left">
  <h1>Playoff Picture</h1>
</div>

<div class="scoreboard_component right">
  <h1>On Deck</h1>
  <div id="on_deck_list">
    <%= render @matches[2] %>
    <%= render @matches[3] %>
  </div>
</div>

<div class="clear"></div>

<div class="scoreboard_component left">
  <h1>Results</h1>
</div>

<div class="scoreboard_component right">
  <h1>In the Hole</h1>
  <div id="in_the_whole_list">
    <%= render @matches[4] %>
    <%= render @matches[5] %>
  </div>
</div>
