<div class="olympic_match">

  <% winner = (match.winning_team_id == match.team_1.id ? "winner" : "") %>
  <div class="olympic_match_panel <%= winner %>" <%= team_bg_color(match.team_1) %>>
    <%= team_name_brs(match.team_1) %>
    <%= bp_cup_diff(match, match.team_1) %>
  </div>

  <div class="olympic_match_panel">
    <%= event_logo(match) %>
  </div>

  <% winner = (match.winning_team_id == match.team_2.id ? "winner" : "") %>
  <div class="olympic_match_panel <%= winner %>" <%= team_bg_color(match.team_2) %>>

    <%= team_name_brs(match.team_2) %>
    <%= bp_cup_diff(match, match.team_2) %>
  </div>
</div>
