<h1><%= @weight %> lb Rankings</h1>

<p>
  Updated at <%= @last_updated_at %>
</p>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>College</th>
    <th>Year</th>
  </tr>
  <% @wrestlers.each do |wrestler| %>
    <tr>
      <td><%= wrestler.rank %></td>
      <td><%= wrestler.name %></td>
      <td><%= wrestler.college.name %></td>
      <td><%= wrestler.year %></td>
    </tr>
  <% end %>
</table>
