<% content_for :title do %>
  Aggregate Report
<% end %>

<h1>
  All Months
</h1>

<p id="advocate_aggregate_toggle_extra_data">
  Toggle names
</p>

<table>
  <tr>
    <th>Staffing Data</th>
    <% @months.each do |month, _| %>
      <th><%= month.strftime("%b") %></th>
    <% end %>
  </tr>

  <tr>
    <th>Median Staffing</th>
    <% @months.each do |_, reporter| %>
      <td class="rn_pct"><%= reporter.median_pct %></td>
    <% end %>
  </tr>

  <tr>
    <th>Full Time Hours</th>
    <% @months.each do |_, reporter| %>
      <td>
        <%= reporter.hours_by_employee_status[:full_time][:pct] %>
      </td>
    <% end %>
  </tr>

  <tr>
    <th>Agency Hours</th>
    <% @months.each do |_, reporter| %>
      <td>
        <%= reporter.hours_by_employee_status[:agency][:pct] %>
      </td>
    <% end %>
  </tr>

  <tr>
    <th>Part Time Hours</th>
    <% @months.each do |_, reporter| %>
      <td>
        <%= reporter.hours_by_employee_status[:part_time][:pct] %>
      </td>
    <% end %>
  </tr>

  <tr>
    <th>Full Time Employees</th>
    <% @months.each do |_, reporter| %>
      <td>
        <%= reporter.full_timers.count %>
      </td>
    <% end %>
  </tr>

  <tr class="aggregate_extra_data">
    <th>Full Time Employees</th>
    <% @months.each do |_, reporter| %>
      <td>
        <% reporter.full_timers.map(&:short_name).sort.each do |employee| %>
          <%= employee %><br/>
        <% end %>
      </td>
    <% end %>
  </tr>

  <% ["DAY", "NIGHT", "SWING"].each do |shift_label| %>
    <tr>
      <th><%= shift_label %></th>
      <% @months.each do |_, reporter| %>
        <td>
          <%= reporter.full_time_by_shift_label[shift_label].count %>
        </td>
      <% end %>
    </tr>

    <tr class="aggregate_extra_data">
      <th><%= shift_label %></th>
      <% @months.each do |_, reporter| %>
        <td>
          <% reporter.full_time_by_shift_label[shift_label].map(&:short_name).sort.each do |employee| %>
            <%= employee %><br/>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <th>Orientees</th>
    <% @months.each do |_, reporter| %>
      <td>
        <%= reporter.orientees.count %>
      </td>
    <% end %>
  </tr>

  <tr class="aggregate_extra_data">
    <th>Orientees</th>
    <% @months.each do |_, reporter| %>
      <td>
        <% reporter.orientees.map(&:short_name).sort.each do |orientee| %>
          <%= orientee %><br/>
        <% end %>
      </td>
    <% end %>
  </tr>

  <tr>
    <th>Agency</th>
    <% @months.each do |_, reporter| %>
      <td>
        <%= reporter.agency.count %>
      </td>
    <% end %>
  </tr>

  <tr class="aggregate_extra_data">
    <th>Agency</th>
    <% @months.each do |_, reporter| %>
      <td>
        <% reporter.agency.map(&:short_name).sort.each do |name| %>
          <%= name %><br/>
        <% end %>
      </td>
    <% end %>
  </tr>

  <tr class="aggregate_extra_data">
    <th>Part Time</th>
    <% @months.each do |_, reporter| %>
      <td>
        <% reporter.part_timers.map(&:short_name).sort.each do |name| %>
          <%= name %><br/>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>


<table>
  <tr>
    <th>BoxPlots</th>
    <% @months.each do |month, _| %>
      <th><%= month.strftime("%b") %></th>
    <% end %>
  </tr>

  <tr>
    <th>Min</th>
    <% @months.each do |_, reporter| %>
      <td class="rn_pct"><%= reporter.min_pct %></td>
    <% end %>
  </tr>
  
  <tr>
    <th>Q1</th>
    <% @months.each do |_, reporter| %>
      <td class="rn_pct"><%= reporter.q1_pct %></td>
    <% end %>
  </tr>

  <tr>
    <th>Median</th>
    <% @months.each do |_, reporter| %>
      <td class="rn_pct"><%= reporter.median_pct %></td>
    <% end %>
  </tr>

  <tr>
    <th>Q3</th>
    <% @months.each do |_, reporter| %>
      <td class="rn_pct"><%= reporter.q3_pct %></td>
    <% end %>
  </tr>

  <tr>
    <th>Max</th>
    <% @months.each do |_, reporter| %>
      <td class="rn_pct"><%= reporter.max_pct %></td>
    <% end %>
  </tr>
</table>
