<% content_for :title do %>
  Schedule Browser
<% end %>

<%= render partial: "advocate/employee/date_display", locals:{
  prev_page: advocate_shifts_path(end_date: @end_date - 28.days),
  next_page: advocate_shifts_path(end_date: @end_date + 28.days),
} %>

<h1> All Shifts</h1>

<table>
  <% @shifts.all.each do |shift| %>
    <tr>
      <td><%= shift.date %></td>
      <td><%= shift.employee.full_name %></td>
      <td><%= shift.employee.role %>
      <td><%= shift.start %>-<%= shift.duration %></td>
      <td><%= shift.raw_shift_code %></td>
    </tr>
  <% end %>
</table>
