<% content_for :title do %>
  Monthly Report
<% end %>

<div class="clear"></div>
<br/>


<div id="toggle_copy_paste">
  Toggle details
</div>

<h1>
  Median RN Staffing in <%= @start_date.strftime("%B") %>: <%= @reporter.median_pct %>%
</h1>


<div id="staffing_grid_container">

  <div class="hide_for_copy_paste">
    <%= link_to(@prev_month.strftime("%B"), 
                advocate_monthly_report_path(month: @prev_month.strftime("%m/%y"))) %> | 
    ... |
    <%= link_to(@next_month.strftime("%B"), 
                advocate_monthly_report_path(month: @next_month.strftime("%m/%y"))) %>
  </div>

  <div id="month_label">
    <%= @start_date.strftime("%B") %>
  </div>

  <table id="staffing_grid_legend">
    <tr>
      <th>Staffing %</th>
      <% (1..10).to_a.each do |i| %>
        <td class="rn_pct rn_pct_<%= i * 10 %>">
          <%= i * 10 %>
        </td>
      <% end %>
    </tr>
  </table>

  <table id="staffing_grid">
    <tr>
      <th><div class="hide_for_copy_paste">Goal RNs</div></th>
      <% Advocate::MonthlyReporter::ALL_HOUR_LABELS.each do |hour, hour_label| %>
        <th>
          <%# <% if hour % 4 == 0 %>
          <% if false %>
            <%= hour_label %>
          <% else %>
            <div class="hide_for_copy_paste">
              <%= hour_label %>
            </div>
          <% end %>
        </th>
      <% end %>
    </tr>

    <tr class="hide_for_copy_paste">
      <th rowspan='2'>
        weekday<hr/>weekend 
      </th>
      <% Advocate::MonthlyReporter::ALL_HOUR_LABELS.each do |hour, hour_label| %>
        <td class="rn_pct">
          <% weekday, weekend = [@reporter.rn_thresholds[hour], @reporter.rn_weekend_thresholds[hour]] %>
          <%= weekday %> 
        </td>
      <% end %>
    </tr>
    <tr class="hide_for_copy_paste">
      <% Advocate::MonthlyReporter::ALL_HOUR_LABELS.each do |hour, hour_label| %>
        <td class="rn_pct">
          <% weekday, weekend = [@reporter.rn_thresholds[hour], @reporter.rn_weekend_thresholds[hour]] %>
          <% if weekday != weekend %>
            <%= weekend %>
          <% else %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <% @reporter.staffing_grid.each do |day, hours| %>
      <tr>
        <th>
          <div class="hide_for_copy_paste">
            <%= day.strftime("%e-%a") %>
          </div>
        </th>
        <% hours.each do |hour, data| %>
          <td class="rn_pct rn_pct_<%= [data[:rn][:pct].floor(-1), 100].min %>">
            <div class="">
              <%= data[:rn][:count] %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<table>
  <tr>
    <th></th>
    <th>Full Time</th>
    <th>Part Time</th>
    <th>Agency</th>
  </tr>
  <tr>
    <th>Hours Worked</th>
    <td>
      <%= number_to_percentage(@hours_by_status[:full_time][:pct], precision: 0) %>
    </td>
    <td>
      <%= number_to_percentage(@hours_by_status[:part_time][:pct], precision: 0) %>
    </td>
    <td>
      <%= number_to_percentage(@hours_by_status[:agency][:pct], precision: 0) %>
    </td>
  </tr>
</table>

<ul class="employee_list">
  <li><%= @reporter.full_timers.count %> Full Time</li>
  <% @reporter.full_timers.each do |employee| %>
    <li>
      <%= employee.name %>
    </li>
  <% end %>
</ul>

<ul class="employee_list">
  <li><%= @reporter.part_timers.count %> Part Time</li>
  <% @reporter.part_timers.each do |employee| %>
    <li>
      <%= employee.name %>
    </li>
  <% end %>
</ul>

<ul class="employee_list">
  <li><%= @reporter.agency.count %> Agency</li>
  <% @reporter.agency.each do |employee| %>
    <li>
      <%= employee.name %>
    </li>
  <% end %>
</ul>

<ul class="employee_list">
  <li><%= @reporter.orientees.count %> Orientation</li>
  <% @reporter.orientees.each do |employee| %>
    <li>
      <%= employee.name %>
    </li>
  <% end %>
</ul>

<ul class="employee_list">
  <li><%= @reporter.unknown_employees.count %> Non ED Staff</li>
  <% @reporter.unknown_employees.each do |employee| %>
    <li>
      <%= employee.name %> (<%= employee.role %>)
    </li>
  <% end %>
</ul>
