<% content_for :title do %>
  Schedule
<% end %>

<h1>
  <%= @start_date.strftime("%B") %> Schedule
</h1>

<br/>
<%= link_to(@prev_month.strftime("%B"), advocate_schedule_path(month: @prev_month.strftime("%m/%y"))) %> | 
... |
<%= link_to(@next_month.strftime("%B"), advocate_schedule_path(month: @next_month.strftime("%m/%y"))) %>
<br/>

<% ["Sun", "Mon", "Tues", "Wed", "Thu", "Fri", "Sat"].each do |day| %>
  <div class="date header">
    <%= day %><br/>
  </div>
<% end %>

<div class="clear"></div>

<% @presenter.dates.each_with_index do |date, i| %>
  <div class="date <%= @presenter.working_on?(date, @current_employee) ? "highlight" : "" %>
                   <%= date >= @start_date ? "clickable " : "unclickable " %>
                   <%= date == Date.today  ? "today" : "" %>"
       id="<%= date.strftime("%m-%d") %>">
    <% if date < @start_date %>
      <%= date.strftime("%-m/%e").gsub(" ", "") %>
    <% else %>
      <%= date.strftime("%e").gsub(" ", "") %>
    <% end %>
  </div>

  <% if i > 0 && ((i + 1) % 7) == 0 %>
    <div class="clear"></div>
  <% end %>
<% end %>

<% @presenter.dates.each_with_index do |date, i| %>
  <div id="schedule_<%= date.strftime("%m-%d") %>" class="schedule_days hidden">
    <% timeline = @presenter.timeline(date) %>

    <table class="clear">
        <tr>
          <th></th>
          <% timeline.each do |hour_label, _|%>
            <th><%= hour_label %></th>
          <% end %>
        </tr>
        <tr>
          <th>RNs</th>
          <% timeline.each do |_, hour|%>
          <td class="rn_pct rn_pct_<%= [hour[:rn][:pct].floor(-1), 100].min %>">
              <%= hour[:rn][:count] %>
            </td>
          <% end %>
        </tr>
        <tr>
          <th>Techs</th>
          <% timeline.each do |_, hour|%>
          <td class="rn_pct rn_pct_<%= [hour[:rn][:pct].floor(-1), 100].min %>">
              <%= hour[:rn][:count] %>
            </td>
          <% end %>
        </tr>
    </table>

    <div class="clear"></div>
    <div class="shift_block">
      <% shifts = @presenter.shifts_for(date) %>
      <div class="header">
        Day
      </div>
      <%= render partial: "shift", locals: {shift: shifts[:day][:us]} %>
      <% shifts[:day][:rns].each do |shift| %>
        <%= render partial: "shift", locals: {shift: shift} %>
      <% end %>
      <% shifts[:day][:techs].each do |shift| %>
        <%= render partial: "shift", locals: {shift: shift} %>
      <% end %>
    </div>

    <div class="shift_block">
      <div class="header">
        Swing
      </div>
      <% shifts[:swing][:rns].each do |shift| %>
        <%= render partial: "shift", locals: {shift: shift} %>
      <% end %>
      <% shifts[:swing][:techs].each do |shift| %>
        <%= render partial: "shift", locals: {shift: shift} %>
      <% end %>
    </div>

    <div class="shift_block">
      <div class="header">
        Night
      </div>
      <%= render partial: "shift", locals: {shift: shifts[:night][:us]} %>
      <% shifts[:night][:rns].each do |shift| %>
        <%= render partial: "shift", locals: {shift: shift} %>
      <% end %>
      <% shifts[:night][:techs].each do |shift| %>
        <%= render partial: "shift", locals: {shift: shift} %>
      <% end %>
    </div>

    <div class="clear"></div>
    <div class="shift_block">
      <% if shifts[:orientees].length > 0 %>
        <div class="header">
          Orientees
        </div>
        <% shifts[:orientees].each do |shift| %>
          <%= render partial: "shift", locals: {shift: shift} %>
        <% end %>
      <% end %>
    </div>

    <div class="shift_block">
      <% if shifts[:unsorted].length > 0 %>
        <div class="header">
          Non ED Staff
        </div>
        <% shifts[:unsorted].each do |shift| %>
          <%= render partial: "shift", locals: {shift: shift} %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
