<% content_for :title do %>
  Staffing Data
<% end %>

<%= render partial: "advocate/employee/date_display", locals:{
  prev_page: advocate_staffing_data_path(end_date: @end_date - 28.days),
  next_page: advocate_staffing_data_path(end_date: @end_date + 28.days),
} %>

<h1>Staffing Percentages</h1>

<p>
  <b>100% Thresholds</b>
  <% Advocate::StaffingCalculator::GOAL_RN_BUCKET_LABELS.each do |bucket, goal| %>
    <br/><%= bucket %>: <%= goal %>
  <% end %>
</p>


<table>
  <tr>
    <th>PCT</th>
    <th># of hours</th>
  </tr>
  <% @histogram.each do |row| %>
    <tr>
      <td><%= row["bucket"] %>%</td>
      <td><%= row["count"] %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Date</th>
    <% Advocate::StaffingHour::ALL_HOUR_LABELS.each do |hour, hour_label| %>
      <th><%= hour_label %></th>
    <% end %>
  </tr>
  <% @staffing_hours.each do |date, staffing_hours| %>
    <tr>
      <th><%= date %></th>
      <% Advocate::StaffingHour::ALL_HOUR_LABELS.each do |hour, _| %>
        <% staffing_hour = staffing_hours.find { |s| s.hour == hour } %>
        <td class="rn_pct_<%= [staffing_hour.rn_pct.floor(-1), 100].min %>">
          <%= staffing_hour.rn_pct %>%
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
