
<% if @limit_to_rank > 0 %>
  <h1>Top 15 Matchups</h1>
  <%= link_to("All Matches", root_path) %>
<% else %>
  <h1>All Matchups</h1>
  <%= link_to("Top 15 only", root_path(limit_to_rank: 15)) %>
<% end %>

<% previous_date = nil %>
<% @matches.each do |match| %>

  <% if previous_date != match.date %>
    <h2><%= match.date.strftime("%A %m/%d") %></h2>
    <% previous_date = match.date %>
  <% end %>
  <p>
    <%= name_with_rank(match.away_team) %>
    at
    <%= name_with_rank(match.home_team) %>
    <% if match.time %>
      | <%= match.time.strftime("%l:%M%p") %>
    <% end %>

    <% if match.watch_on %>
      <%= match.watch_on %>
    <% end %>

    <%= link_to "...", match_path(id: match.id) %>

    <% match.top_matchups.each do |matchup| %>
      <br/>&emsp; <%= matchup[0].weight %>:
          (<%= matchup[0].rank %>) <%= matchup[0].name %> vs
          (<%= matchup[1].rank %>) <%= matchup[1].name %>
    <% end %>
  </p>

<% end %>
