<%= form_with(model: wrestle_bet_wrestler) do |form| %>
  <% if wrestle_bet_wrestler.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wrestle_bet_wrestler.errors.count, "error") %> prohibited this wrestle_bet_wrestler from being saved:</h2>

      <ul>
        <% wrestle_bet_wrestler.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.file_field :avatar %>
    <% if wrestle_bet_wrestler.avatar.attached? %>
      <%= image_tag wrestle_bet_wrestler.avatar.variant(:thumb) %>
    <% end %>
  </div>

  <div>
    <%= form.label :college_id, style: "display: block" %>
    <%= form.select :college_id, @colleges %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
