<div id="<%= dom_id wrestler %>">

  <p>
    <% if wrestler.avatar.attached? %>
      <%= image_tag wrestler.avatar.variant(:thumb) %>
    <% end %>

    <% if wrestler.college.logo.attached? %>
      <%= image_tag wrestler.college.logo.variant(:thumb) %>
    <% end %>

    <%= link_to wrestler.name, wrestler %>
    ( <%= wrestler.college.name %> )

  </p>

</div>
