<p>
  Updated at <%= @last_updated_at %>
</p>

<table>
  <tr>
    <th>College</th>
    <th>Dual Rank</th>
    <th>Tournament Rank</th>
    <th>Schedule</th>
  </tr>

  <% @colleges.each do |college| %>
    <tr>
      <td><%= college.name %></td>
      <td><%= college.dual_rank %></td>
      <td><%= college.tournament_rank %></td>
      <td>
        <%= link_to("Schedule (#{college.matches.count})", college_path(college)) %>
      </td>
    </tr>
  <% end %>

</table>
