<!DOCTYPE html>
<html>
  <head>
    <title>WrestlingStats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('wrestling.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= link_to "Teams", colleges_path %>
    <% WrestlerService::WEIGHTS.each do |weight| %>
      <%= link_to weight, individual_rankings_path(weight: weight) %>
    <% end %>
    <%= yield %>
  </body>
</html>
